<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/application}"
>
  <head>
    <title>Listing Players</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div id="react-root"></div>
      <a class="btn btn-primary" href="/players/new">新規作成</a>
      <script src="/js/react.js"></script>
      <script src="/js/react-dom.js"></script>
      <script src="/js/babel.js"></script>
      <script src="/js/main.js" type="text/babel"></script>
    </div>
  </body>
</html>
