<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/application}"
>
  <head>
    <title>New Player</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <h1>New Player</h1>
      <div id="react-root">Loading...</div>
      <div class="float-right">
        <a class="btn btn-link" href="/players">一覧画面へ</a>
      </div>
      <script src="/js/lib/react.js"></script>
      <script src="/js/lib/react-dom.js"></script>
      <script src="/js/lib/babel.js"></script>
      <script src="/js/players/new.js" type="text/babel"></script>
    </div>
  </body>
</html>
