<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/application}"
>
  <head>
    <title>New Player</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <h1>New Player</h1>

      <form id="vue-root" th:action="@{/players}" th:method="post">
        <div class="form-group">
          <label class="control-label">名前</label>
          <input class="form-control" type="text" name="name" />
        </div>

        <div class="form-group">
          <label class="control-label">年齢</label>
          <input class="form-control" type="number" name="age" />
        </div>

        <div class="form-group">
          <label class="control-label">リーグ</label>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="league"
                id="league-npb"
                value="npb"
                @change="onChangeLeague"
              />
              <label class="form-check-label" for="league-npb">
                NPB
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="league"
                id="league-mlb"
                value="mlb"
                @change="onChangeLeague"
              />
              <label class="form-check-label" for="league-mlb">
                MLB
              </label>
            </div>
          </div>
        </div>

        <div v-if="league && teams.length" class="form-group">
          <label class="control-label">チーム</label>
          <select class="form-control" name="team">
            <option v-for="val in teams" :value="val">
              {{ val }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label">守備位置</label>
          <input class="form-control" type="text" name="position" />
        </div>

        <button class="btn btn-primary" type="submit">作成</button>
      </form>

      <div class="float-right">
        <a class="btn btn-link" href="/players">一覧画面へ</a>
      </div>

      <script src="/js/lib/vue.js"></script>
      <script src="/js/players/vue/new.js"></script>
    </div>
  </body>
</html>
